/* ADD YOUR CUSTOM CSS TO THIS FILE */

.col-md-8
	{
		background-color: #ce2029;
		color: #fff;
}

.col-md-4
	{
		background-color: #ce2029;
		color: #fff;
}

.nav-link
	{
		color: #fff;
}

.hero
	{
		background-image: url("hero.jpg");
}

.mainbody
	{
			background-color: #ce2029;
			color: #fff;
}