/* ADD YOUR CUSTOM CSS TO THIS FILE */

.col-md-8
	{
		background-color: #82080E;
		color: #fff;
}

.col-md-4
	{
		background-color: #82080E;
		color: #fff;
}

.col-md-6
	{
		background-color: #013E37;
		color: #fff;
}

.nav-link
	{
		color: #fff;
}

.hero
	{
		background-color: #82080E;
}

.mainbody
	{
		background-color: #82080E;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
}

#pagetitle
	{
		padding-top: 5px;
}

#hrsqhero
	{
		background-color: #013E37;
}

#mainbody,#mainbody2
	{
		background-color: #82080E;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
}

#body2
	{
		background-color: #000;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 10px;
}

#station
	{
		text-align: center;
}

#resbod
	{
		background-color: #013E37;
		color: #E0A864;
		padding-top: 50px;
		padding-bottom: 50px;
}

#footer
	{
		background-color: #000;
		text-align: center;
}