/* ADD YOUR CUSTOM CSS TO THIS FILE */

.col-md-8
	{
	background-color: #82080E;
	color: #fff;
	font-family: 'Source Serif 4', serif;
}

.col-md-4
	{
		background-color: #82080E;
		color: #fff;
		font-family: 'Source Serif 4', serif;
}

.col-md-6
	{
		background-color: #82080E;
		color: #fff;
		font-family: 'Source Serif 4', serif;
}

.nav-link
	{
		color: #fff;
}

.hero
	{
		background-color: #82080E;
}

.mainbody,.mainbody2
	{
		background-color: #82080E;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		font-family: 'Source Serif 4', serif;
}

.map
	{
	text-align: right;
}

.fa 
	{
  padding: 10px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover 
	{
    opacity: 0.7;
}

.fa-facebook 
	{
  background: #82080E;
  color: #fff;
}

.fa-instagram 
	{
  background: #82080E;
  color: #fff;
}

.fa-twitter {
  background: #82080E;
  color: #fff;
}

#pagetitle
	{
		padding-top: 5px;
		font-family: 'Source Serif 4', serif;
}

#mainbody,#mainbody2
	{
		background-color: #82080E;
		color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
		font-family: 'Source Serif 4', serif;
}

#body2
	{
		background-color: #000;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 15px;
		font-family: 'Source Serif 4', serif;
}

#station
	{
		text-align: center;
}

#footer
	{
		background-color: #000;
		text-align: center;
}

/* mouse over link */
a.otherlinks:link {
  color: #82080E;
}

/* visited link */
a.otherlinks:visited {
  color: #82080E;
}

/* mouse over link */
a.otherlinks:hover {
  color: #fff;
}

/* selected link */
a.otherlinks:active {
  color: #46F2AB;
}

/* mouse over link */
a.pagelinks:link {
  color: #000;
}

/* visited link */
a.pagelinks:visited {
  color: #000;
}

/* mouse over link */
a.pagelinks:hover {
  color: #fff;
}

/* selected link */
a.pagelinks:active {
  color: #46F2AB;
}